@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,600&display=swap');
html,body{
    font-family: 'Bricolage Grotesque', sans-serif;
}
.button{
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 15px;
    cursor: pointer;
    width: 66px;
}
.row{
    margin: 5px 2px;
}
.row input{
    padding: 16px 26px;
    margin: 0;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 19.2px;
}
.bg-purple{
    background: purple;
    color: aliceblue;
}
.smalll{
    width: 48px;
}
.t-center{
    text-align: center;
}
.back-red{
    background: lavender;
}
.margin-auto{
    margin: auto;
}
.flex{
    display:flex;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}
.lav{
    background: #734f96;
    color: aliceblue;
}
.pad{
    padding: 10px;
}
